<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ahole</string>
	<string>anus</string>
	<string>ash0le</string>
	<string>ash0les</string>
	<string>asholes</string>
	<string>ass</string>
	<string>Ass Monkey</string>
	<string>Assface</string>
	<string>assh0le</string>
	<string>assh0lez</string>
	<string>asshole</string>
	<string>assholes</string>
	<string>assholz</string>
	<string>asswipe</string>
	<string>azzhole</string>
	<string>Biatch</string>
	<string>bitch</string>
	<string>bitches</string>
	<string>Blow Job</string>
	<string>boffing</string>
	<string>butthole</string>
	<string>buttwipe</string>
	<string>c0ck</string>
	<string>c0cks</string>
	<string>c0k</string>
	<string>Carpet Muncher</string>
	<string>cawk</string>
	<string>cawks</string>
	<string>Clit</string>
	<string>cnts</string>
	<string>cntz</string>
	<string>cock</string>
	<string>cockhead</string>
	<string>cock-head</string>
	<string>cocks</string>
	<string>CockSucker</string>
	<string>cock-sucker</string>
	<string>cum</string>
	<string>cunt</string>
	<string>cunts</string>
	<string>cuntz</string>
	<string>dick</string>
	<string>dild0</string>
	<string>dild0s</string>
	<string>dildo</string>
	<string>dildos</string>
	<string>dilld0</string>
	<string>dilld0s</string>
	<string>dominatricks</string>
	<string>dominatrics</string>
	<string>dominatrix</string>
	<string>dyke</string>
	<string>enema</string>
	<string>f u c k</string>
	<string>f u c k e r</string>
	<string>fag</string>
	<string>fag1t</string>
	<string>faget</string>
	<string>fagg1t</string>
	<string>faggit</string>
	<string>faggot</string>
	<string>fagit</string>
	<string>fags</string>
	<string>fagz</string>
	<string>faig</string>
	<string>faigs</string>
	<string>flipping the bird</string>
	<string>fuck</string>
	<string>fucker</string>
	<string>fuckin</string>
	<string>fucking</string>
	<string>fucks</string>
	<string>Fudge Packer</string>
	<string>fuk</string>
	<string>Fukah</string>
	<string>Fuken</string>
	<string>fuker</string>
	<string>Fukin</string>
	<string>Fukk</string>
	<string>Fukkah</string>
	<string>Fukken</string>
	<string>Fukker</string>
	<string>Fukkin</string>
	<string>g00k</string>
	<string>gay</string>
	<string>gayboy</string>
	<string>gaygirl</string>
	<string>gays</string>
	<string>gayz</string>
	<string>God-damned</string>
	<string>h00r</string>
	<string>h0ar</string>
	<string>h0re</string>
	<string>hells</string>
	<string>hoar</string>
	<string>hoor</string>
	<string>hoore</string>
	<string>jackoff</string>
	<string>jap</string>
	<string>japs</string>
	<string>jerk-off</string>
	<string>jisim</string>
	<string>jiss</string>
	<string>jizm</string>
	<string>jizz</string>
	<string>knob</string>
	<string>knobs</string>
	<string>knobz</string>
	<string>kunt</string>
	<string>kunts</string>
	<string>kuntz</string>
	<string>Lesbian</string>
	<string>Lezzian</string>
	<string>Lipshits</string>
	<string>Lipshitz</string>
	<string>masochist</string>
	<string>masokist</string>
	<string>massterbait</string>
	<string>masstrbait</string>
	<string>masstrbate</string>
	<string>masterbaiter</string>
	<string>masterbate</string>
	<string>masterbates</string>
	<string>Motha Fucker</string>
	<string>Motha Fuker</string>
	<string>Motha Fukkah</string>
	<string>Motha Fukker</string>
	<string>Mother Fucker</string>
	<string>Mother Fukah</string>
	<string>Mother Fuker</string>
	<string>Mother Fukkah</string>
	<string>Mother Fukker</string>
	<string>mother-fucker</string>
	<string>Mutha Fucker</string>
	<string>Mutha Fukah</string>
	<string>Mutha Fuker</string>
	<string>Mutha Fukkah</string>
	<string>Mutha Fukker</string>
	<string>n1gr</string>
	<string>nastt</string>
	<string>nigger;</string>
	<string>nigur;</string>
	<string>niiger;</string>
	<string>niigr;</string>
	<string>orafis</string>
	<string>orgasim;</string>
	<string>orgasm</string>
	<string>orgasum</string>
	<string>oriface</string>
	<string>orifice</string>
	<string>orifiss</string>
	<string>packi</string>
	<string>packie</string>
	<string>packy</string>
	<string>paki</string>
	<string>pakie</string>
	<string>paky</string>
	<string>pecker</string>
	<string>peeenus</string>
	<string>peeenusss</string>
	<string>peenus</string>
	<string>peinus</string>
	<string>pen1s</string>
	<string>penas</string>
	<string>penis</string>
	<string>penis-breath</string>
	<string>penus</string>
	<string>penuus</string>
	<string>Phuc</string>
	<string>Phuck</string>
	<string>Phuk</string>
	<string>Phuker</string>
	<string>Phukker</string>
	<string>polac</string>
	<string>polack</string>
	<string>polak</string>
	<string>Poonani</string>
	<string>pr1c</string>
	<string>pr1ck</string>
	<string>pr1k</string>
	<string>pusse</string>
	<string>pussee</string>
	<string>pussy</string>
	<string>puuke</string>
	<string>puuker</string>
	<string>queer</string>
	<string>queers</string>
	<string>queerz</string>
	<string>qweers</string>
	<string>qweerz</string>
	<string>qweir</string>
	<string>recktum</string>
	<string>rectum</string>
	<string>retard</string>
	<string>sadist</string>
	<string>scank</string>
	<string>schlong</string>
	<string>screwing</string>
	<string>semen</string>
	<string>sex</string>
	<string>sexy</string>
	<string>Sh!t</string>
	<string>sh1t</string>
	<string>sh1ter</string>
	<string>sh1ts</string>
	<string>sh1tter</string>
	<string>sh1tz</string>
	<string>Shyt</string>
	<string>Shyte</string>
	<string>Shytty</string>
	<string>Shyty</string>
	<string>skanck</string>
	<string>skank</string>
	<string>skankee</string>
	<string>skankey</string>
	<string>skanks</string>
	<string>Skanky</string>
	<string>slut</string>
	<string>sluts</string>
	<string>Slutty</string>
	<string>slutz</string>
	<string>son-of-a-bitch</string>
	<string>tit</string>
	<string>turd</string>
	<string>va1jina</string>
	<string>vag1na</string>
	<string>vagiina</string>
	<string>vagina</string>
	<string>vaj1na</string>
	<string>vajina</string>
	<string>vullva</string>
	<string>vulva</string>
	<string>w0p</string>
	<string>wh00r</string>
	<string>wh0re</string>
	<string>whore</string>
	<string>xrated</string>
	<string>xxx</string>
	<string>b!+ch</string>
	<string>bitch</string>
	<string>blowjob</string>
	<string>clit</string>
	<string>arschloch</string>
	<string>fuck</string>
	<string>shit</string>
	<string>ass</string>
	<string>asshole</string>
	<string>b!tch</string>
	<string>b17ch</string>
	<string>b1tch</string>
	<string>bastard</string>
	<string>bi+ch</string>
	<string>boiolas</string>
	<string>buceta</string>
	<string>c0ck</string>
	<string>cawk</string>
	<string>chink</string>
	<string>cipa</string>
	<string>clits</string>
	<string>cock</string>
	<string>cum</string>
	<string>cunt</string>
	<string>dildo</string>
	<string>dirsa</string>
	<string>ejakulate</string>
	<string>fatass</string>
	<string>fcuk</string>
	<string>fuk</string>
	<string>fux0r</string>
	<string>hoer</string>
	<string>hore</string>
	<string>jism</string>
	<string>kawk</string>
	<string>l3itch</string>
	<string>l3i+ch</string>
	<string>lesbian</string>
	<string>masturbate</string>
	<string>masterbat*</string>
	<string>masterbat3</string>
	<string>motherfucker</string>
	<string>s.o.b.</string>
	<string>mofo</string>
	<string>nazi</string>
	<string>nigga</string>
	<string>nigger</string>
	<string>nutsack</string>
	<string>phuck</string>
	<string>pimpis</string>
	<string>pusse</string>
	<string>pussy</string>
	<string>scrotum</string>
	<string>sh!t</string>
	<string>shemale</string>
	<string>shi+</string>
	<string>sh!+</string>
	<string>slut</string>
	<string>smut</string>
	<string>teets</string>
	<string>tits</string>
	<string>boobs</string>
	<string>b00bs</string>
	<string>teez</string>
	<string>testical</string>
	<string>testicle</string>
	<string>titt</string>
	<string>w00se</string>
	<string>jackoff</string>
	<string>wank</string>
	<string>whoar</string>
	<string>whore</string>
	<string>*damn</string>
	<string>*dyke</string>
	<string>*fuck*</string>
	<string>*shit*</string>
	<string>@$$</string>
	<string>amcik</string>
	<string>andskota</string>
	<string>arse*</string>
	<string>assrammer</string>
	<string>ayir</string>
	<string>bi7ch</string>
	<string>bitch*</string>
	<string>bollock*</string>
	<string>breasts</string>
	<string>butt-pirate</string>
	<string>cabron</string>
	<string>cazzo</string>
	<string>chraa</string>
	<string>chuj</string>
	<string>Cock*</string>
	<string>cunt*</string>
	<string>d4mn</string>
	<string>daygo</string>
	<string>dego</string>
	<string>dick*</string>
	<string>dike*</string>
	<string>dupa</string>
	<string>dziwka</string>
	<string>ejackulate</string>
	<string>Ekrem*</string>
	<string>Ekto</string>
	<string>enculer</string>
	<string>faen</string>
	<string>fag*</string>
	<string>fanculo</string>
	<string>fanny</string>
	<string>feces</string>
	<string>feg</string>
	<string>Felcher</string>
	<string>ficken</string>
	<string>fitt*</string>
	<string>Flikker</string>
	<string>foreskin</string>
	<string>Fotze</string>
	<string>Fu(*</string>
	<string>fuk*</string>
	<string>futkretzn</string>
	<string>gay</string>
	<string>gook</string>
	<string>guiena</string>
	<string>h0r</string>
	<string>h4x0r</string>
	<string>helvete</string>
	<string>hoer*</string>
	<string>honkey</string>
	<string>Huevon</string>
	<string>hui</string>
	<string>injun</string>
	<string>jizz</string>
	<string>kanker*</string>
	<string>kike</string>
	<string>klootzak</string>
	<string>kraut</string>
	<string>knulle</string>
	<string>kuk</string>
	<string>kuksuger</string>
	<string>Kurac</string>
	<string>kurwa</string>
	<string>kusi*</string>
	<string>kyrpa*</string>
	<string>lesbo</string>
	<string>mamhoon</string>
	<string>masturbat*</string>
	<string>merd*</string>
	<string>mibun</string>
	<string>monkleigh</string>
	<string>mouliewop</string>
	<string>muie</string>
	<string>mulkku</string>
	<string>muschi</string>
	<string>nazis</string>
	<string>nepesaurio</string>
	<string>nigger*</string>
	<string>orospu</string>
	<string>paska*</string>
	<string>perse</string>
	<string>picka</string>
	<string>pierdol*</string>
	<string>pillu*</string>
	<string>pimmel</string>
	<string>piss*</string>
	<string>pizda</string>
	<string>poontsee</string>
	<string>poop</string>
	<string>porn</string>
	<string>p0rn</string>
	<string>pr0n</string>
	<string>preteen</string>
	<string>pula</string>
	<string>pule</string>
	<string>puta</string>
	<string>puto</string>
	<string>qahbeh</string>
	<string>queef*</string>
	<string>rautenberg</string>
	<string>schaffer</string>
	<string>scheiss*</string>
	<string>schlampe</string>
	<string>schmuck</string>
	<string>screw</string>
	<string>sh!t*</string>
	<string>sharmuta</string>
	<string>sharmute</string>
	<string>shipal</string>
	<string>shiz</string>
	<string>skribz</string>
	<string>splooge</string>
	<string>skurwysyn</string>
	<string>sphencter</string>
	<string>spic</string>
	<string>spierdalaj</string>
	<string>suka</string>
	<string>b00b*</string>
	<string>testicle*</string>
	<string>titt*</string>
	<string>twat</string>
	<string>vittu</string>
	<string>wank*</string>
	<string>wetback*</string>
	<string>wichser</string>
	<string>wop*</string>
	<string>yed</string>
	<string>zabourah</string>
</array>
</plist>
